*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  flex-wrap: wrap;

}
:root {

  font-size: 62.5%;
  --body-bg-color: #22212C;
  --text-color: #837E9F;
  --bg-cards: #302F3D;
  --bg-techs: #CB92B1;
}
html,body{
  height: 100%;
}

body{
  font-size: 1.8rem;
  color: var(--text-color );
  font-family: 'Merriweather Sans';
}